.App {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 600px;
}

.provider, .consumer {
  flex: 1 1 0;
  padding: 20px;
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 5px;
}

p {
  margin: 0;
}